<div class="container-fluid">
<div class="row">
	<div class="col-xs-24">
		<div class="alert" data-ng-repeat="alert in alerts" data-ng-class="alert.type">
			{{ alert.msg }}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
		<div class="editor-nav">
			<span class="logo">
				<a href="/@{{user.name}}">
					&nbsp; <i class="fa fa-file-text"></i>
					<span class="hidden-xs title"></span>
				</a>
			</span>
			<span class="visible-xs-inline status">{{ noteStatus(note) }}</span>
			<span class="hidden-xs status">{{ noteStatus(note, 'l') }}</span>
			<div class="editor-nav-btns pull-right">
				<span class="status" ng-show="noteStatus(note) === 'New'">
					Nothing to publish
				</span>
				<span class="publish status btn-group">
					<span ng-show="!note.publishedAt && note.modifiedAt">
						Not published
					</span>
					<span ng-show="note.publishedAt">
						Published on {{note.post.date | date : 'MMM dd, yyyy' : 'UTC'}} 
					</span>	
					<i class="fa fa-lg" data-toggle="dropdown" 
						title="Toggle to publish/unpublish"
						ng-class="{'fa-toggle-on': note.publishedAt, 
							'fa-toggle-off': !note.publishedAt,
							'unpublished-changes': publishStatus() === 3
						}">
					</i>

					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<!-- show disabled publish option -->
						<li x-ng-show="publishStatus() % 2 === 0" data-stopPropagation="true">
							<a class="disabled"><i class="fa fa-toggle-on"></i> Publish</a>
						</li>
						<!-- show publish option -->
						<li x-ng-show="publishStatus() % 2 === 1">
							<a x-ng-click="publishNote()"><i class="fa fa-toggle-on"></i> 
								Publish {{ publishStatus() === 3 ? '(changes)' : ''}}
							</a>
						</li>

						<!-- show disabled unpublish option -->
						<li x-ng-show="publishStatus() < 2" data-stopPropagation="true">
							<a class="disabled"><i class="fa fa-toggle-off"></i> Unpublish</a>
						</li>
						<!-- show unpublish option -->
						<li x-ng-show="publishStatus() >= 2">
							<a x-ng-click="unpublishNote()"><i class="fa fa-toggle-off"></i> Unpublish</a>
						</li>

		        <li class="divider"></li>

		        <!-- show disabled publish backdate -->
		        <li class="publish-backdate" data-stopPropagation="true" 
		        		x-ng-show="publishStatus() === 0">
		        	<span class="disabled" data-stopPropagation="true">Backdate your post</span><br/>
							<input type="text" data-stopPropagation="true" class="disabled" 
								size="12" maxlength="10" disabled="disabled" placeholder="yyyy-MM-dd"> 
								<button class="btn btn-xs btn-info disabled" disabled="disabled">Ok</button>
		        </li>
		        <!-- show publish backdate -->
		        <li class="publish-backdate" data-stopPropagation="true"
		        		x-ng-show="publishStatus() !== 0">
		        	<span data-stopPropagation="true">Backdate your post</span><br/>
							<input type="text" data-stopPropagation="true" size="12" maxlength="10" 
								 x-ng-model="postBackdate" x-ng-class="{'has-warning': isNewBackdate()}"
								placeholder="{{note.publishedAt ? (note.publishedAt | date : 'yyyy-MM-dd' : 'UTC') : 'yyyy-MM-dd'}}"> 
								<button class="btn btn-xs btn-info" x-ng-click="publishBackdate()">Ok</button>
		        </li>

					</ul>					
				</span>
        
        <span class="spacer"></span>
				<div class="btn-group">
		      <button type="button" class="btn btn-sm btn-info dropdown-toggle" 
		      			data-toggle="dropdown">
		        <!-- <span class="caret"></span> -->
		        <i class="fa fa-bars"></i>
		        <span class="sr-only">Show Editing Menu</span>
		      </button>
		      <ul class="dropdown-menu dropdown-menu-right" role="menu">
		      	<li><a data-ng-click="openNewNote()">
		      		<i class="fa fa-plus"></i> &nbsp;Start a new Note</a></li>
		        <li><a data-ng-click="showNotesModal()">
		        	<i class="fa fa-folder-open-o"></i> Open existing Note</a></li>
		        <li class="divider"></li>
		        <li><a data-ng-click="removeNote(note)">
		        	<i class="fa fa-trash"></i> Delete current Note</a></li>
		      </ul>
		    </div>
				<span class="spacer"></span>
				<div class="btn-group">
		      <button type="button" class="btn btn-sm btn-info dropdown-toggle" 
		      			data-toggle="dropdown">
		        <i class="fa fa-user"></i>
		        <span class="sr-only">Show Profile</span>
		      </button>
		      <ul class="dropdown-menu dropdown-menu-right" role="menu">
		      	<li><a data-ng-click="showProfileModal()">
		      		<i class="fa fa-cog"></i> Profile</a></li>
		        <li class="divider"></li>
		        <li><a href="/signout">
		        	<i class="fa fa-sign-out"></i> Sign out</a></li>
		      </ul>
		    </div>
			</div>
		</div>
	</div>
	<div class="hidden-xs hidden-sm col-md-12">
	</div>
</div>
<div class="row" style="background-color: #fff">
	<div class="hidden-xs hidden-sm col-md-12 col-lg-12 preview">
		<article class="post" x-ng-bind-html="note.post.content">
		</article>
	</div>
	<div class="col-xs-24 col-sm-24 col-md-12 col-lg-12">
		<div ui-ace="{
			useWrapMode: true,
			showGutter: false,
			theme: 'textmate',
			mode: 'markdown',
			onLoad: editorLoaded,
			onChange: editorContentChanged
		}"></div>
	</div>
</div>
</div>
