<div class="container-fluid">
<div class="row">
	<div class="col-xs-24">
		<div class="alert" data-ng-repeat="alert in alerts" data-ng-class="alert.type">
			{{ alert.msg }}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-24 col-sm-24 col-md-12">
		<div class="editor-nav">
<!-- 			<span class="logo">
				<a href="/@thong">
					&nbsp; <i class="fa fa-lg fa-file-text"></i>
					<span class="hidden-xs title">lasnotas</span>
				</a>
			</span>
			<span class="spacer"></span>
			<div class="editor-nav-btns">
				<button data-ng-click="openNewNote()" class='btn btn-xs btn-info'>
					<i class="fa fa-plus"></i> <span class="hidden-xs">New</span></button>
				<button data-ng-click="showNotesModal()" class='btn btn-xs btn-info'>
					<i class="fa fa-folder-open-o"></i> <span class="hidden-xs">Open</span></button>
				<button data-ng-click="saveNote(note)" class='btn btn-xs btn-success'>
					<i class="fa fa-save"></i> <span class="hidden-xs">Save</span></button>
				<span class="spacer"></span>
				<button data-ng-click="removeNote(note)" class="btn btn-xs btn-warning">
					<i class="fa fa-trash"></i> <span class="hidden-xs">Delete</span></button>
 -->			</div>
		</div>
	</div>
	<div class="hidden-xs hidden-sm col-md-12">
	</div>
</div>
<div class="row">
	<div class="col-xs-24 col-sm-24 col-md-12">
		<div ui-ace="{
			useWrapMode: true,
			showGutter: false,
			theme: 'textmate',
			mode: 'markdown',
			onLoad: editorLoaded,
			onChange: editorChanged
		}"></div>
	</div>
	<div class="hidden-xs hidden-sm col-md-12 preview">
		<button ng-click="saveNote(note)">save</button> isDirty: {{ note.isDirty }}
		<article class="post" x-ng-bind-html="note.post.content">
		</article>
	</div>
</div>
<div class="row">
	<div class="col-xs-24 col-sm-24 col-md-12">
		{{note}}
	</div>
</div>
</div>
