<div class="container-fluid">
<div class="row">
	<div class="col-xs-24">
		<button data-ng-click="showNotesModal()">open</button>
		<button data-ng-click="saveNote(note)">save</button>
		<button data-ng-click="openNewNote()">new</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-24 col-sm-12">
		<div ui-ace="{
			useWrapMode: true,
			showGutter: true,
			theme: 'tomorrow_night_eighties',
			mode: 'markdown',
			onLoad: editorLoaded,
			onChange: editorChanged
		}"></div>
	</div>
	<div class="hidden-xs col-sm-12">
		<post-preview post="post" note="note"/>
	</div>
</div>
</div>
