script(type='text/javascript' src='/lib/angular/angular.min.js')
script(type='text/javascript' src='/lib/angular-resource/angular-resource.min.js')
script(type='text/javascript' src='/lib/angular-route/angular-route.min.js')
script(type='text/javascript' src='/lib/highlight.js/highlight.pack.js')
script(type='text/javascript' src='/lib/marked/lib/marked.js')
script(type='text/javascript' src='/lib/note-converters/md-to-html.js')
script(type='text/javascript' src='/lib/ace-builds/src-min-noconflict/ace.js' charset="utf-8")
script(type='text/javascript' src='/lib/angular-ui-ace/ui-ace.min.js')
script(type='text/javascript' src='/lib/utils/index.js')
script(type='text/javascript' src='/app/module.js')
script(type='text/javascript' src='/app/services.js')
script(type='text/javascript' src='/app/controllers.js')
