div(class="container")
	div(class="row")
		div(class="hidden-xs col-sm-1 col-md-2 col-lg-2")
		div(class="col-xs-24 col-sm-22 col-md-20 col-lg-20 footer")
			hr
			&copy; 2014 Thong Nguyen 
		div(class="hidden-xs col-sm-1 col-md-2 col-lg-2")
