body {
	background-color: #eee;
}

.fa-lg {
	font-size: 1.6em;
}

h1 {
	font-size: 170%;
}
h2 {
	font-size: 150%;
}
h3 {
	font-size: 140%;
}
h4 {
	font-size: 130%;
}
h5 {
	font-size: 120%;
}
h6 {
	font-size: 110%;
}
h1, h2, h3, h4, h5, h6 {
	opacity: .8;
}

/* helpers */
.spacer {
	margin: 0 5px;
}

.preview {
	background-color: #fff;
	padding: 5px 10px;
	height: 88vh;
	overflow: auto;
	border-right: solid 2px #ddd;
}

.footer {
	font-size: 90%;
	opacity: .7;
	margin-top: 0px;
	padding-top: 10px;
	margin-bottom: 10px;
	border-top: solid 1px #ddd;
}

.ace_editor {
	margin: 0;
	height: 88vh;
}

.ul-hover > li {
  padding: 2px 5px;
}
.ul-hover > li:hover {
  background-color: #f5f5f5;  
}

.editor-nav .logo a {
	text-decoration: none;
	border-right: 1px solid #ccc;
	padding-right: 5px;
	margin-right: 10px;
}
.editor-nav .logo .title {
	font-weight: 500;
	font-size: 110%;
}

.editor-nav {
	margin-top: 5px;
	text-align: left;
	padding-bottom: 5px;
	border-bottom: solid 1px #ddd;
}
.editor-nav-btns {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.editor-nav-btns .btn {
	/*padding: 1px 5px; original */
	padding: 1px 10px;
}
.editor-nav .publish > i, .dropdown-menu li, li a {
	cursor: pointer;
}
.editor-nav .status {
	color: #999;
	font-size: 85%;
}
.editor-nav .fa-toggle-on {
	color: #5cb85c;
}
.editor-nav .fa-toggle-off {
	color: #888;
}
.unpublished-changes {
	color: #f0ad4e !important;
}
.editor-nav .dropdown-menu a {
	font-size: 14px;
	color: #777;
}


.post, .posts {
	font-weight: 300;
	background-color: #fff;
	margin: 20px 0 40px 0;
	padding: 0px;
}
.post-title {
	padding-bottom: 10px;
	margin-bottom: 0px;
}
.post-meta {
	opacity: .6;
	margin-bottom: 30px;
}
.tags {
	margin-left: 20px;
}
.tag {
	background-color: #eee;
	color: #4d4d4d;
	font-weight: 400;
	margin-left: 3px;
}
.img-thumbnail {
	padding: 8px;
	border: none;
	max-width: 280px !important;
}
/* apply hl style to annotations */
.hljs-annotation {
  color: #888;
  font-style: italic;
}
pre > code {
	font-size: 90%;
}
blockquote {
  border-left: 3px solid #ccc;
	margin: 20px 20px 20px;
	font-style: italic;
	font-size: 95%;
	font-weight: 300;
}

/* alert */
.alert {
	padding: 5px 10px;
	width: 360px;
	top: 10px;
	z-index:1051;
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

.alert.ng-enter, .alert.ng-leave {
	-webkit-transition: color 0.6s, background-color 0.3s;
	-moz-transition: color 0.6s, background-color 0.3s;
	-ms-transition: color 0.6s, background-color 0.3s;
	transition: color 0.6s, background-color 0.3s;
 }

.alert.ng-enter {
	-webkit-animation: fadeInDown 1s;
	-moz-animation: fadeInDown 1s;
	-ms-animation: fadeInDown 1s;
	animation: fadeInDown 1s;
}
  
.alert.ng-leave {
	-webkit-animation: fadeOutUp 1s;
	-moz-animation: fadeOutUp 1s;
	-ms-animation: fadeOutUp 1s;
	animation: fadeOutUp 1s;
}
