html,
body {
    width: 100%;
    height: 95%;
    color: #666;
}

a, a:hover {
	text-decoration: none;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    padding-top: 0px;

}

.text-vertical-center h1 {
    padding: 0;
    font-size: 2.5em;
    font-weight: 500;
}
h2 {
	font-size: 1.6em;
}

.logo {
    color: #428bca;
}

/* error message */
.error {
    display: table;
    position: relative;
    width: 100%;
    height: 80%;
}
.error.msg {
    width: 80%;
    padding: 15px 10px;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}

/* About */

.about-editor {
	background-color: #DEEFFF;
   padding: 30px 0 40px 0;
}
.about-posts {
	background-color: #eee;
	padding: 40px 0;
}
.about-lasnotas {
	background-color: #fff;
	padding: 40px 0;
}

/* Footer */
.footer {
    margin-bottom: 20px;
}
