.ace_editor {
	margin: 0;
	height: 80vh;
}

.ul-hover > li {
  padding: 2px 5px;
}
.ul-hover > li:hover {
  background-color: #f5f5f5;  
}

/* alert */
.alert {
	padding: 5px 10px;
	width: 360px;
	top: 10px;
	z-index:1051;
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

.alert.ng-enter, .alert.ng-leave {
	-webkit-transition: color 0.6s, background-color 0.3s;
	-moz-transition: color 0.6s, background-color 0.3s;
	-ms-transition: color 0.6s, background-color 0.3s;
	transition: color 0.6s, background-color 0.3s;
 }

.alert.ng-enter {
	-webkit-animation: fadeInDown 1s;
	-moz-animation: fadeInDown 1s;
	-ms-animation: fadeInDown 1s;
	animation: fadeInDown 1s;
}
  
.alert.ng-leave {
	-webkit-animation: fadeOutUp 1s;
	-moz-animation: fadeOutUp 1s;
	-ms-animation: fadeOutUp 1s;
	animation: fadeOutUp 1s;
}
