body {
	background-color: #eee;
}

h1 {
	font-size: 170%;
}
h2 {
	font-size: 150%;
}
h3 {
	font-size: 140%;
}
h4 {
	font-size: 130%;
}
h5 {
	font-size: 120%;
}
h6 {
	font-size: 110%;
}
h1, h2, h3, h4, h5, h6 {
	opacity: .8;
}

/* helpers */
.spacer {
	margin: 0 5px;
}

.preview {
	background-color: #fff;
	padding: 5px 10px;
	height: 90vh;
}

.footer {
	font-size: 90%;
	opacity: .7;
	margin-bottom: 10px;
}

.ace_editor {
	margin: 0;
	height: 90vh;
}

.ul-hover > li {
  padding: 2px 5px;
}
.ul-hover > li:hover {
  background-color: #f5f5f5;  
}

.editor-nav .logo a{
	text-decoration: none;
}
.editor-nav .logo .title {
	font-weight: 500;
	font-size: 110%;
}

.editor-nav {
	margin: 5px 0;
	text-align: left;
}
.editor-nav-btns {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.editor-nav-btns .btn {
	/*padding: 1px 5px; original */
	padding: 1px 10px;
}


.post, .posts {
	background-color: #fff;
	margin: 20px 0 40px 0;
	padding: 0px;
}
.post-title {
	padding-bottom: 10px;
	margin-bottom: 0px;
}
.post-meta {
	opacity: .6;
	font-size: 90%;
	margin-bottom: 30px;
}
.tags {
	margin-left: 20px;
}
.tag {
	background-color: #eee;
	color: #4d4d4d;
	font-weight: 500;
	margin-left: 3px;
}
/* apply hl style to annotations */
.hljs-annotation {
  color: #888;
  font-style: italic;
}



/* alert */
.alert {
	padding: 5px 10px;
	width: 360px;
	top: 10px;
	z-index:1051;
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}

.alert.ng-enter, .alert.ng-leave {
	-webkit-transition: color 0.6s, background-color 0.3s;
	-moz-transition: color 0.6s, background-color 0.3s;
	-ms-transition: color 0.6s, background-color 0.3s;
	transition: color 0.6s, background-color 0.3s;
 }

.alert.ng-enter {
	-webkit-animation: fadeInDown 1s;
	-moz-animation: fadeInDown 1s;
	-ms-animation: fadeInDown 1s;
	animation: fadeInDown 1s;
}
  
.alert.ng-leave {
	-webkit-animation: fadeOutUp 1s;
	-moz-animation: fadeOutUp 1s;
	-ms-animation: fadeOutUp 1s;
	animation: fadeOutUp 1s;
}
