body {
	font-weight: 300;
}
.container {
	padding-left: 10px;
	padding-right: 10px;
}

pre > code {
	font-size: 90%;
}

h1 {
	font-size: 170%;
}
h2 {
	font-size: 150%;
}
h3 {
	font-size: 140%;
}
h4 {
	font-size: 130%;
}
h5 {
	font-size: 120%;
}
h6 {
	font-size: 110%;
}
h1, h2, h3, h4, h5, h6 {
	opacity: .8;
}
blockquote {
  border-left: 3px solid #ccc;
	margin: 20px 20px 20px;
	font-style: italic;
	font-size: 95%;
	font-weight: 300;
}
.header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
	margin-bottom: 5px;
}
.header .nav a {
	margin-top: 2px;
	margin-left: 10px;
	/*text-decoration: none;*/
	font-size: 90%;
}
.header .nav {
	display: none;
}
.header .nav .btn {
	padding: 0 10px;
	opacity: .6;
}
.header .title a {
	font-size: 120%;
	font-weight: 500;
	text-decoration: none;
	color: #444;
}
.header .title a:hover {
	color: #888;
}
.header .title i {
	font-size: 90%;
	margin-left: 10px;
	color: #62c462;
}
.header .subtitle {
	opacity: .7;
	font-size: 85%;
}

.footer {
	margin: 40px 0;
	padding-top: 10px;
	border-top: 1px solid #eee;
}

/* for Post */
ul.posts span {
	font-family: Monaco, "Courier New", monospace;
	font-size: small;
}
.footer, .post-footer, .post-header {
	font-size: 90%;
	color: #aaa;
}
.footer a, .post-footer a, .post-header a {
	text-decoration: none;
}
.content .post {
	padding-top: 0px;
}
.post > section > h1 {
	margin-bottom: 30px;
}
.post-stats {
	font-size: 80%;
	padding: 0 2px;
	color: #aaa;
}
.post-stats > span {
	margin-bottom: 2px;
}
.post, .posts {
	background-color: #fff;
	margin: 20px 0 40px 0;
	padding: 0px;
}
.post.edit-mode {
	height: 80vh;
	overflow: auto;
	margin: 0px;
	padding: 0 10px;
}
.post-title {
	padding-bottom: 10px;
	margin-bottom: 0px;
}
.post-meta {
	opacity: .6;
	font-size: 90%;
	margin-bottom: 30px;
}
.post-preview-btn {
	float: right; 
	position: absolute; 
	right: 20px; 
	top: 10px; 
	z-index: 10;
}
/* Post images */
.img-thumbnail {
	padding: 8px;
	border: none;
	max-width: 280px !important;
}

/* Post tags */
.tags {
	margin-left: 20px;
}
.tag {
	background-color: #eee;
	color: #4d4d4d;
	font-weight: 500;
	margin-left: 3px;
}
.post-footer {
  margin-top: 40px;

}
/* apply hl style to annotations */
.hljs-annotation {
  color: #888;
  font-style: italic;
}


@media (min-width: 768px) {
	body {
		font-size: 18px !important;
	}
	.footer {
		font-size: 80%;
	}
	.header { 
		text-align: left; 
	}
	.header .nav {
		font-size: 90%;
		display: block;
	}
	.header .title a { 
		font-size: 160%; 
	}
}


