language: node_js
node_js:
  - "0.10"
before_install:
  - "sudo service mongod stop"
  - "sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 7F0CEB10"
  - "echo 'deb http://downloads-distro.mongodb.org/repo/ubuntu-upstart dist 10gen' | sudo tee /etc/apt/sources.list.d/mongodb.list"
  - "sudo apt-get update"
  - "sudo apt-get install -y mongodb-org=2.6.4 mongodb-org-server=2.6.4"
  - "sudo service mongod start"
before_script:
  - "until nc -z localhost 27017; do echo Waiting for MongoDB; sleep 5; done"
  - node bin/www &
env:
  - env=development
notification:
  email: false