doctype html
html(lang='en' data-ng-app="lasnotas")
	head
		title= title
		link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/lib/animate.css/animate.min.css')
		link(rel='stylesheet', href='/lib/fontawesome/css/font-awesome.min.css')
		link(rel="stylesheet" href="/lib/highlight.js/styles/github.css")
		link(rel='stylesheet', href='/statics/css/app.css')

	body
		block content

		div(class="container-fluid")
			div(class="row")
				div(class="col-xs-24 footer")
					| &copy; 2014 
					a(href='/@thong/posts') Thong Nguyen
					span(class='pull-right')
						| <a href="https://lasnotas.org/#about">About</a> this <a href="http://en.wikipedia.org/wiki/MEAN">MEAN</a>-ingful app

		include ../partials/app-scripts