doctype html
html(lang='en')
	head
		title= title
		link(rel='stylesheet', href='/lib/bootstrap/bootstrap.min.css')
		link(rel='stylesheet', href='/statics/css/lasnotas.css')
	body
		div(class="container")
			block content