doctype html
html(lang='en')
	head
		title= title
		link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/lib/fontawesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/statics/css/default.css')
	body
		block content