doctype html
html(lang='en')
	head
		title= title
		link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/lib/fontawesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/statics/css/posts.css')
	body
		div(class='container')
			div(class='row')
				div(class='hidden-xs col-sm-1 col-md-1 col-lg-3')
				div(class='col-xs-24 col-sm-22 col-md-22 col-lg-18')
					div(class='header')
						span(class='visible-xs-block nav pull-right')
							a(href='/' class='btn btn-xs btn-primary' title='Notes')
								i(class='fa fa-file-text')
							a(href='/signout' class='btn btn-xs btn-info' title='Sign Out')
								i(class='fa fa-sign-out')
						span(class='title')
							a(href='/@thong' class='special-font') Random Bits 
							br/
							span(class='hidden-xs subtitle text-left') From a Father, Developer, DIY Enthusiast
				div(class='hidden-xs col-sm-1 col-md-1 col-lg-3')

			div(class='row content')
				div(class='hidden-xs col-sm-1 col-md-1 col-lg-3')
				div(class='col-xs-24 col-sm-22 col-md-22 col-lg-18')
					block content
				div(class='hidden-xs col-sm-1 col-md-1 col-lg-3')
		
			include ../partials/posts-footer