extends ./layouts/default

block content
	div(class="container")
		div(class="row")
			div(class="hidden-xs col-sm-1 col-md-2 col-lg-3")
			div(class="col-xs-24 col-sm-22 col-md-20 col-lg-18")
				header(id="top" class="header")
					div(class="text-vertical-center")
						h1(class="logo")
							br
							i(class="fa fa-file-text")  lasnotas
						p(class="lead")
							if error.status === 401
								if error.reason === 'security.missing.invite'
									| Sorry, sign up is only open to friends and family at the moment. Please email thong at gnoht dot com for an invite.
								else	
									| Please sign in with one of the providers below to get started.
							else if error.status === 404
								| Hmm... the page you're looking for seems to be missing. It's probably on our end, but if you don't mind checking the url just to make sure.
							else
								| We're experiencing an issue with your request, please try again later. 
						p
							if(!user)
								include ./partials/signin
							br
							br
							br
							br
							| 
							| <!--
							| status: #{ error.status } 
							| message: #{ error.message }
							| reason: #{ error.reason }
							| -->

			div(class="hidden-xs col-sm-1 col-md-2 col-lg-3")

	include ./partials/default-footer