extends ./layouts/default

block content
		header(id="top" class="header")
			div(class="text-vertical-center")
				h1(class="logo")
					i(class="fa fa-file-text")  
					|  lasnotas
				div(class="hidden-xs col-sm-1 col-md-2 col-lg-2")
				div(class="col-xs-24 col-sm-22 col-md-20 col-lg-20")
					p(class="lead")
						| Simple <a href="http://en.wikipedia.org/wiki/Markdown">Markdown</a> driven blogging. 
					p(class='text-muted')
						include ./partials/signin
					h1
						br
						br
				div(class="hidden-xs col-sm-1 col-md-2 col-lg-2")

		section(class="about-editor")
			div(class="container")
				div(class="row")
					div(class="hidden-xs col-sm-1 col-md-2 col-lg-2")
					div(class="col-xs-24 col-sm-22 col-md-20 col-lg-20")
						p(class="lead text-center")
							| <a href="#editor">Learn more</a> about lasnotas
						br
						h1(id="editor" class="text-muted text-center")
							|Easy Editing
						p(class="lead")
							|No more funky WYSIWYG or overly complicated word processors&mdash;lasnotas only understands Markdown. Preview your work as you type&mdash;it's right there. 
						p
							img(src="/statics/img/lasnotas-editor.png" class="img-responsive")
					div(class="hidden-xs col-sm-1 col-md-2 col-lg-2")

		section(id="posts" class="about-posts")
			div(class="container")
				div(class="row")
					div(class="hidden-xs col-sm-1 col-md-2 col-lg-2")
					div(class="col-xs-24 col-sm-22 col-md-20 col-lg-20")
						h1(class="text-muted text-center")
							|Painless Publishing
						p(class="lead")
							|No more complicated workflows&mdash;your work is automatically saved for you. When you're ready to publish, it's one simple toggle to publish and unpublish.
						p
							img(src="/statics/img/lasnotas-post.png" class="img-responsive")
						br
						br

		section(id="about" class="about-lasnotas")
			div(class="container")
				div(class="row")
					div(class="hidden-xs col-sm-1 col-md-2 col-lg-2")
					div(class="col-xs-24 col-sm-22 col-md-20 col-lg-20")
						h1(class="text-muted text-center")
							|About
						p(class="lead")
							|I wanted to learn the JavaScript stack&mdash;specifically <a href="http://en.wikipedia.org/wiki/MEAN">MEAN</a>&mdash;and blog about my experience for future reference. <a href="https://pages.github.com/">Github Pages</a> was the obvious choice to host my blog, but in the end I decided to <a href="http://en.wikipedia.org/wiki/Eating_your_own_dog_food">eat my own dog food</a> and build a blogging application&mdash;it'll be fun and a lot more interesting then another <a href="http://todomvc.com/">Todo app</a>.  
						p(class="lead")
						p(class="lead text-center")
							br
							<a href="#top" class="btn btn-info">Back Home</a>
							br
							br
							br

					div(class="hidden-xs col-sm-1 col-md-2 col-lg-2")

		include ./partials/default-footer
