#title
	input(type="text" name="title" placeholder="Title" value="#{note ? note.title : ''}")
#content
	textarea(name="content" placeholder="Content" rows="10") #{note ? note.content : ''}
#saveBtn
	button(type="submit") Save
