body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#container {
	width: 600px;
	margin: 0 auto;
}

#preview {
	background-color: #eee;
	padding: 10px;
}

input, textarea {
	width: 100%;
}

a {
  color: #00B7FF;
}