extends ../layouts/posts

block content
	article
		header
		section
			ul(class='list-unstyled posts')
				each post in posts
					li
						span #{moment(post.publishedAt).format('MMM DD, YYYY')}
						span  &raquo; 
						a(href='/@' + post.author + '/' + post.post.slug)= post.title