extends ../layouts/posts

block content
	article
		header
			h1 Posts
		section
			ul(class='list-unstyled posts')
				each post in posts
					li
						span= moment(post.publishedAt).format('ll') 
						span  &raquo; 
						a(href='@' + post.author + '/' + post.slug)= post.title