extends ../layouts/posts

block content
	article
		header
		section
			ul(class='list-unstyled posts')
				each post in posts
					li
						span #{moment(post.post.date).format('MMM DD, YYYY')}
						span  &raquo; 
						a(href='/@' + user.name + '/posts/' + post.post.slug)= post.title