extends ../layouts/posts

block content
	article(class='post')
		header
			h1= post.title
			div(class='post-meta')
				span= moment(post.publishedAt).format('ll')
				span(class='tags')
					each tag in post.tags
						span(class='label tag')= tag

		section
			!= post.content
